/* .main_comp_score {
    max-width: 40rem;

    margin: 5rem 10vw 30px;
    padding: 1em;
    color: rgb(0, 0, 0);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 20px;
    background-image: linear-gradient(#04619f, #009ffd);
    background-color: #fff;
    filter: blue(12px);
}

.team_detail_container {
    position: relative;
}

.team_detail_rank {
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    background-color: #00112F;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_score_details {
    padding: 0.5rem;
    margin: 1rem 0 1rem 0.5rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.score_board_banner {
    background-color: #0B5693;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -1rem;
    border-radius: 1rem 1rem 0 0;
}

.score_board_banner svg {
    font-size: 2rem;
}

.score_board_banner h1 {
    font-size: 2.2rem;
}

.team_name {
    font-size: 1.1rem;
}

.team_ranking {
    margin: 2rem 0;
}

.team_name {
    padding-left: 2rem;

}

.team_detail_score {
    min-width: 4rem;
    text-align: center;
    font-size: 0.8rem;
    padding: .3rem 2rem;
    border-radius: 50px;
    background-color: #e2e2e2;

} */

.main_comp_score {
    /* padding: 1em;
    z-index: 1;
    border-radius: 20px;
    background-color: transparent;
    filter: blue(12px);
    display: flex;
    border: 2px solid #fff;
    flex-direction: column; */

    /* outline: 5rem solid #fff; */

    margin: 10rem 10vw 30px;
    padding: 1em;
    color: rgb(0, 0, 0);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 20px;
    /* background-image: linear-gradient(#04619f, #009ffd); */
    background-color: #fff;
    filter: blue(12px);
}

/* ------------------------------------------------------ */
.top {
    /* border: 2px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 1.2rem 0;
}

.top_container {
    width: 14rem;
    height: 14rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    /* transition: all 300ms ease; */
    animation: topAnimate 1000ms cubic-bezier(0.19, 1, 0.22, 1) infinite alternate;
    color: #fff;
    background-color: #006cfa;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.top_container:nth-child(3),
.top_container:nth-child(2) {
    animation-delay: 500ms;
}

.top_container:nth-child(1) {
    order: 2;
}

.top_container:nth-child(2) {
    order: 1;
}

.top_container:nth-child(3) {
    order: 3;
}

.top_container:hover {
    transform: scale(1.1) rotate('30deg');
}

@keyframes topAnimate {
    to {
        transform: translateY(0);
    }

    from {
        transform: translateY(1rem);
    }
}

.top_board {
    overflow: hidden;
}

.top_rank {
    position: absolute;
    bottom: 1.5rem;
    left: -1.5rem;
    background-color: #006cfa;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid #fff;
    background-image: linear-gradient(45deg, #006cfa, #009ffd);
}

.top_trophy {
    font-size: 1rem;
    position: absolute;
    /* top: 2.8rem; */
    /* right: 1rem; */
    /* color: #fff; */
    /* color: #006cfa; */
    bottom: 1.5rem;
    left: 0.5rem;
}

/* .top_container .top_board .top_trophy:nth-child(1) { */
.top_trophy:nth-child(1) {
    color: #FFD700;
}

.top_trophy:nth-child(2) {
    color: #C0C0C0;
}

.top_trophy:nth-child(3) {
    color: #CD7F32;
}

.top_detail_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.top_team_name {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 2rem 0 0.2rem 0;
}

.top_team_score {
    /* text-align: center; */
    color: #101010;
    font-size: 1.5rem;
    padding: 0.4rem;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 0;
    flex-wrap: nowrap;
    box-shadow: #04619f9d 0px 1px 2px 0px, #006cfa44 0px 2px 6px 2px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.top_team_mem_names {
    width: 100%;
    margin-right: 2rem;
    display: flex;
    gap: 0.1rem;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

}

.top_team_member {
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

}


/* .top_style{
    height: 4rem;
    background-color: red;
    position: absolute;
    top: 0;
} */

/* ------------------------------------------------------ */
.bottom {
    margin-top: 3rem;
}

.banner {
    width: 100%;
    border: 1px solid #fff;
    /* height: 5rem; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 1rem 0;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #006cfa;
    background-image: linear-gradient(45deg, #006cfa, #009ffd);

}

.banner p {
    font-weight: 600;
    font-size: 2.5rem;
    padding: 0.1rem 2rem;
}


.team_detail_container {
    background-color: #fff;
    margin-bottom: 0.2rem;
    border-radius: 0.2em;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    border: 1px solid #00a0fd6a;

}


.team_detail_container .team_detail_rank {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.team_score_details {
    /* padding: 0.2rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_name p {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0.5rem 0;

}

.team_mem_names {
    display: flex;
    gap: 1.1rem;
    font-size: 0.8rem;
    color: #333;
}

.team_member {
    font-family: 'Poppins', sans-serif;
    /* color: #333; */
    color: #04619f;
    font-weight: 500;
}

/* #04619f */

/* font-family: 'Fauna One', serif; */
/* font-family: 'Julius Sans One', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'PT Serif', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Rufina', serif; */

@media only screen and (max-width: 800px) {
    
    .top_container:nth-child(1),
    .top_container:nth-child(2),
    .top_container:nth-child(3) {
        animation-delay: 0;
    }
    
    .top_container {
        animation-timing-function: ease-in-out;
        animation-delay: 0ms;
    }

    .top_container:nth-child(1) {
        order: 1;
    }

    .top_container:nth-child(2) {
        order: 2;
    }

    .top_container:nth-child(3) {
        order: 3;
    }

    .banner p {
        font-size: 2rem;
    }

    .team_name p {
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0.3rem 0;
    }

    .team_mem_names {
        gap: 1rem;
    }

    .team_member {
        font-size: 0.75rem;
    }

    .team_detail_score b {
        font-size: 0.95rem;
        font-weight: 500;
    }

}

@media only screen and (max-width: 600px) {

    .top_container:hover {
        transform: scale(1.1) rotate('30deg');

    }

    .top_team_mem_names {
        flex-direction: column;
    }

    .top_team_member {
        font-size: 0.5rem;
    }

    .banner p {
        font-size: 1.5rem;
    }

    .team_detail_container {
        margin-bottom: 0.1rem;
        padding: 0.5rem 0.5rem;
    }

    .team_name p {
        font-weight: 600;
        font-size: 1rem;
        margin: 0.3rem 0;
    }

    .team_mem_names {
        gap: 1rem;
    }

    .team_member {
        font-size: 0.7rem;
    }

    .team_detail_score b {
        font-size: 0.9rem;
    }
}